
.sm-top-margin {
  margin-top: 8px;
}

.rnd-corners {
  border-radius: .25rem;
}

#hint-box{
  background-color: yellow;
  border-style: solid;
}

#answersField {
  display: inline-table;
  padding: 9px 18px 12px 18px;
}

.eleBox {
  display: inline-block;
  text-align: center;
  border-style: solid;
}

.check-boxes {
  margin: 16px 24px 0px 0px;
}

.mouse-help {
  cursor: help;
}

.title-size {
  height: 85px;
}

