
.sm-top-margin {
  margin-top: 8px;
}

.rnd-corners {
  border-radius: .25rem;
}

.hint-box{
  background-color: #ffff68;
  border-style: solid;
  border-width: 1px;
  font-size: 12px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 2px 4px 2px 4px;
}

#answersField {
  display: inline-table;
  padding: 9px 6px 12px 16px;
}

.eleBox {
  display: inline-block;
  text-align: center;
  border-style: solid;
}

.check-boxes {
  margin: 16px 24px 0px 0px;
}

.mouse-help {
  cursor: help;
}

.title-size {
  height: 85px;
}

